# Dependencias
node_modules/

# Archivos de entorno y credenciales
.env
credentials.json

# Logs
logs
*.log
npm-debug.log*

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Directorios y archivos temporales
/temp
*.tmp 